body {
    background-color: #FFF;
    font-family: sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.menu-bar {
    height: 64px;
}
.title-block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-block h2{
    padding: 0 2rem;
    color: #333;
}

.container-feature {
    margin: 1rem 0;
    padding: 0 5rem;
    display: flex;
    flex-direction: row;
}
.container-feature .col-md-4 {
    flex-grow: 4;
}

hr {
    margin: 1.5rem 5rem;
}

.trendings-container {
    margin: 1rem 0;
    padding: 0 5rem;
}

